body{
    display: flex;
    justify-content: center;
    background-color: antiquewhite;
}
.first{
    background-color:  rgb(237, 227, 213);
    height: 50vh;
    width: 18vw;
    margin-top: 20vh;

}
.second{
    background-color: rgb(237, 227, 213);
    margin-top: 20vh;
    height: 80vh;
    width: 50vw;
    margin-left: 3rem;
}
.first-one{
    display: flex;
    height: 60%;
    flex-direction: column;
    justify-content:flex-end;
    align-items: center;
    background-color:rgb(233, 214, 193);
    position: relative;
}
.first-one img{
    position: absolute;
    top: -30%;
    height: 9rem;
    width: 9rem;
    border-radius: 13% 13% 13% 13%;
}
.name{
    font-size: 1.7rem;
}
.icons i{
    margin-right: 1rem;
    padding-bottom: 2rem;
}
.first-two{
    margin-top: 2rem;
    height: 40%;
    width: 100%;
    background-color: rgb(237, 227, 213);
}
.second-one{
    display: flex;
    height: 30%;
    flex-direction: column;
    position: relative;
    background-color:rgb(233, 214, 193);
}
.second-two{
    margin-left: 3rem;
    margin-right: 3rem;
    margin-top: 3rem;
    background-color: rgb(237, 227, 213);
}
.second-one-1{
    margin-left: 3rem;
}
.second-box{
    background-color: rgb(233, 214, 193);
    height: 15vh;
    width: 20vw;
    margin-left: 3rem; 
    border-radius: 10% 10% 10% 10%; 
}
.second-boxo{
    margin-left: 1rem;
}
.secn-box{
    display: flex;
    justify-content: center;
}
.secon-box{
    background-color: rgb(233, 214, 193);
    margin-top: 4vh;
    height: 15vh;
    width: 20vw;
    margin-left: 3rem;
    border-radius: 10% 10% 10% 10%;
}
.sec-box{
    display: flex;
    justify-content: center;
}
.date{
    display: flex;
    justify-content:space-between;
    width :80%;
    margin: auto;
    padding-bottom: 2rem;
}
table{
    width: 70%;
    margin: auto;;
}

@media screen and (max-width: 1200px) {
    .second-one{
        height: auto;
    }
    .date{
        width: 95%;
    }
    .second-box{
        height: auto;
    }
    .secon-box{
        height: auto;
    }
}

@media screen and (max-width: 1200px){
    
}